<div ng-controller="packageMigrationTester.Controller" ng-cloak>
  <div style="float: right;">
    <select ng-model="selectedPackage" ng-change="showMigrations()" ng-options="x for x in packages">
      
    </select>
  </div>
  <h3>Package migration tester</h3>
  <p>This tool will help you test your package migrations.<br/>Simply select the Assembly from the dropdown and you will see all the Migrations in an overview.<br/>Use migrate button to test the Migrations.</p>
  
  <div class="umb-table" ng-if="migrations.length > 0">

    <div class="umb-table-head">
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b6">Migration class</div>
      </div>
    </div>

    <div class="umb-table-body">

      <div class="umb-table-row -solid" ng-repeat="migration in migrations">
        <div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b8">
         {{migration.migrationClassName}}
        </div>
        <div class="umb-table-cell">
          <button type="button" class="btn btn-success" style="margin-right: 10px;" ng-click="migrate(migration)">Migrate</button>
        </div>

      </div>

    </div>

  </div>
</div>